<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.define :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.define :completed %><br>
    <%= f.check_box :completed %>
  </div>
  <div class="field">
    <%= f.define :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.define :completed_at %><br>
    <%= f.datetime_select :completed_at %>
  </div>
  <div class="field">
    <%= f.define :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
